        * {
            margin: 0;
            padding: 0;
        }
        
        @font-face {
            font-family: "Amster";
            src: url('Font/Amsterdam.ttf');
        }
        
        @font-face {
            font-family: "Navil";
            src: url('Font/Navilla.ttf');
        }
        
        p {
            font-family: Amster
        }
        
        body {
            overflow: hidden;
            background-attachment: fixed;
            margin: 0 auto;
            background: linear-gradient(45deg, #7af8ff, #38ff35, #5334ff, #ff33fb);
            background-size: 200% 100%;
            -webkit-animation: ignielGradient 4s infinite;
            -moz-animation: ignielGradient 4s ease infinite;
            animation: ignielGradient 4s infinite;
            height: 100%;
        }
        
        @-webkit-keyframes ignielGradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }
        
        @-moz-keyframes ignielGradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }
        
        @keyframes ignielGradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }
        
        a {
            text-decoration: none;
        }
        
        nav {
            box-shadow: 0 0 50px #222;
            -webkit-box-shadow: 0 0 50px #222;
            -moz-box-shadow: 0 0 50px #222;
            z-index: 2;
            left: 0%;
            background: white;
            opacity: 0.9;
            width: 520px;
            border-radius: 0 0 20px 20px;
            -webkit-border-radius: 0 0 20px 20px;
            -moz-border-radius: 0 0 20px 20px;
            -ms-border-radius: 0 0 20px 20px;
            -o-border-radius: 0 0 20px 20px;
            -o-border-radius: 0 0 20px 20px;
        }
        
        ul {
            list-style: none;
            padding: 0;
            overflow: hidden;
            opacity: none;
        }
        
        li {
            float: left;
        }
        
        li a {
            background: transparent;
            font-family: Amster;
            font-size: 20px;
            display: block;
            color: rgb(51, 51, 51);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        /* Change the link color to #111 (black) on hover */
        
        #li {
            -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
            opacity: 0.9;
        }
        
        #li:hover,
        li a:hover {
            opacity: 0.5;
            -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75);
        }
        
        img {
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }
        
        .profil1 {
            margin-left: 20%;
            margin-top: -19.5%;
            padding-top: 300px;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-attachment: fixed;
            background-size: 100%;
            height: 440px;
        }
        
        .profil2 {
            padding-top: 100px;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-attachment: fixed;
            background-size: 100%;
            height: 660px;
        }
        
        .profil3 {
            float: left;
            margin-left: -400px;
            padding-top: 100px;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-attachment: fixed;
            background-size: 100%;
            height: 660px;
        }
        
        .profil4 {
            margin-top: -659px;
            float: right;
            top: 10%;
            margin-right: -150px;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-attachment: fixed;
            background-size: 100%;
            height: 660px;
        }
        
        .profil {
            padding-top: 300px;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-attachment: fixed;
            background-size: 100%;
            height: 660px;
        }
        
        #h1 {
            z-index: 1;
            background: white;
            margin: 0 auto;
            box-shadow: 0 0 50px #222;
            -webkit-box-shadow: 0 0 50px #222;
            -moz-box-shadow: 0 0 50px #222;
            width: 500px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            opacity: 0.8;
        }
        
        h1 {
            font-family: Amster;
            color: #222;
        }
        
        h1:hover {
            font-family: Amster;
            opacity: 0.5;
        }
        
        a:hover {
            font-family: Amster;
            color: #000000;
        }
        
        .tetap {
            position: fixed;
            top: -10px;
            left: 0;
            padding: 10px;
            -webkit-transition: top 400ms ease 0s;
            -moz-transition: top 400ms ease 0s;
            -o-transition: top 400ms ease 0s;
            -ms-transition: top 400ms ease 0s;
            transition: top 400ms ease 0s;
        }
        
        .tetap ul {
            width: 450px;
            margin: 0 auto;
        }
        
        p {
            padding-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 10px;
            padding-bottom: 18px;
            font-size: 20px;
            font-family: Navil;
            background: transparent;
        }
        
        #foto {
            background-image: url("Gambar/Profil.png");
            background-size: 100%;
            width: 200px;
            height: 200px;
            z-index: 10;
            border: 20px solid hidden;
            border-radius: 200px 200px 200px 200px;
            -moz-border-radius: 200px 200px 200px 200px;
            -webkit-border-radius: 200px 200px 200px 200px;
            opacity: none;
            margin-top: -16.2%;
            margin-left: 195px;
            -ms-border-radius: 200px 200px 200px 200px;
            -o-border-radius: 200px 200px 200px 200px;
        }
        
        .foto {
            -webkit-box-shadow: 0px 0px 69px 24px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 69px 24px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 69px 24px rgba(0, 0, 0, 0.75);
            border-radius: 200px 200px 200px 200px;
            -moz-border-radius: 200px 200px 200px 200px;
            -webkit-border-radius: 200px 200px 200px 200px;
            border: 20px solid white;
            opacity: 0.7;
            margin-top: -17%;
            margin-left: 175px;
            width: 200px;
            z-index: 4;
            height: 200px;
            -ms-border-radius: 200px 200px 200px 200px;
            -o-border-radius: 200px 200px 200px 200px;
        }
        
        .icon3 {
            z-index: 25;
            margin-bottom: 400px;
            background-image: url("Gambar/Apple.png");
            background-size: 100%;
            width: 200px;
            height: 200px;
            z-index: 8;
            margin-top: -600px;
            margin-left: 900px;
            border: white 20px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        
        .icon3:hover {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .icon4 {
            z-index: 25;
            margin-bottom: 400px;
            background-image: url("Gambar/insta.png");
            background-size: 100%;
            width: 200px;
            height: 200px;
            z-index: 8;
            margin-top: -700px;
            margin-left: 250px;
            border: white 20px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        
        .icon4:hover {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .icon2 {
            z-index: 10;
            margin-bottom: 100px;
            background-image: url("Gambar/Apple.png");
            background-size: 100%;
            width: 200px;
            height: 200px;
            z-index: 8;
            margin-top: -380px;
            margin-left: 1100px;
            border: white 20px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        
        .icon2:hover {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .icon:hover {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
        
        .icon {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-image: url("Gambar/Apple.png");
            background-size: 100%;
            width: 60px;
            height: 60px;
            z-index: 8;
            margin-right: 15px;
        }
        
        .hp {
            background-image: url("Gambar/1.jpg");
            background-size: 100%;
            width: 400px;
            height: 190px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            margin-left: 50px;
        }
        
        .hp2 {
            background-image: url("Gambar/2.jpg");
            background-size: 100%;
            width: 400px;
            height: 270px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            margin-left: 50px;
        }
        
        button:hover {
            background-color: rgb(179, 179, 179);
            color: #222;
            opacity: none;
        }
        
        button {
            color: white;
            border: none;
            background-color: #222;
            font-size: 20px;
            font-family: Amster;
            height: 50px;
            width: 100%;
            border-radius: 0 0 10px 10px;
            -webkit-border-radius: 0 0 10px 10px;
            -moz-border-radius: 0 0 10px 10px;
            -ms-border-radius: 0 0 10px 10px;
            -o-border-radius: 0 0 10px 10px;
        }
        
        .store {
            background-image: url("Gambar/4.jpg");
            background-size: 100%;
            width: 500px;
            height: 290px;
            opacity: 0.9;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            float: right;
        }